
body{
  padding-top: 51px;
}

.login-panel{
  @media(max-width: 600px){
    margin-left: 5%;
    margin-right: 5%;
  }
  @media (min-width: 600px){
    margin-left: 30%;
    margin-right: 30%;
  }
  .form-control{
    text-align: center;
  }
  .btn{
    display: block;
    width: 100%;

  }
}

.board-carousel{
  .carousel-control{
    position: fixed;
    width: 40px;
  }
  .carousel-indicators{
    visibility: hidden;
  }
}

.board{
  .board-grid-cell{
    padding: 3px;
  }
  .board-grid{
    padding: 45px;
  }
}

.masonry-grid{
  margin: 40px;
  .masonry-grid-item{
    @media(min-width: 400px){
      width: 100%;
    }
    @media(min-width: 600px){
      width: 50%;
    }
    @media(min-width: 900px){
      width: 25%;
    }
  }
}

.task-list{
  margin: 6px;
  .panel-heading{
    padding: 10px;
  }
  .panel-body{
    padding: 0px;
  }
  .form-group{
    margin: 1px;
  }
}

.task{
  margin: 0px;
  .task-text{
    overflow: hidden;
    resize: none;
  }
  .task-button{

  }
}
