
body{
  padding-top: 65px;
}

.login-panel{
  margin-left: 10%;
  margin-right: 10%;
  @media (min-width: 600px){
    margin-left: 30%;
    margin-right: 30%;
  }
  text-align: center;
  .login-button{
    margin-top: 30px;
  }
}

.board-carousel{
  .carousel-control{
    position: fixed;
    width: 40px;
  }
  .carousel-indicators{
    visibility: hidden;
  }
}

.board{
  .board-grid-cell{
    padding: 3px;
  }
  .board-grid{
    padding: 45px;
  }
}

.task-list{
  .panel-heading{
    padding: 10px;
  }
  .panel-body{
    padding: 0px;
  }
  .form-group{
    margin: 1px;
  }
}

.task{
  margin: 0px;
  .task-text{
    overflow: hidden;
    resize: vertical;
  }
  .task-button{

  }
}
